<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joyajj.taskwarrior-quickadd</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A1B2C3D4-1111-2222-3333-444455556666</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1B2C3D4-1111-2222-3333-444455557777</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>joyajj</string>
	<key>description</key>
	<string>Quick add tasks to Taskwarrior. Aliases: mod=modify, proj=project, prio=priority. Syntax: ta [description] [+tag] [project:X] [due:Y] [priority:H|M|L]</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Taskwarrior Quick Add</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ta</string>
				<key>subtext</key>
				<string>Aliases: mod=modify, proj=project, prio=priority │ +tag project:X due:Y priority:H|M|L</string>
				<key>text</key>
				<string>Add Task: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1B2C3D4-1111-2222-3333-444455556666</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash task_add.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1B2C3D4-1111-2222-3333-444455557777</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A1B2C3D4-1111-2222-3333-444455556666</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
		</dict>
		<key>A1B2C3D4-1111-2222-3333-444455557777</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
